<div class="container">
  <div class="header">
    <div class="logo">
      <%=image_tag("Vector.png") %>
      <%=image_tag("Maze.png") %>
    </div>
    <div class="search">
      <input type="text" placeholder="Search">
    </div>
  </div>

  <div class="Body">
    <div class="article-update">
      <div class="post-img">
        <%=image_tag("Vector.png") %>
      </div>
        <%= render "form", article: @article %>
    </div>

    <% @articles.each do |article| %><br>
      <div class="articles-display">
        <div class="articles-title">
          <h2><%= article.title%></h2>
        </div>
        <div class="articles-body">
         <%= link_to article.body, article %>
        </div>
      </div>
    <% end %>
  </div>

</div>




